# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# IDE
.vscode/

# OS
.DS_Store

# Node.js (for Vue.js frontend)
node_modules/
npm-debug.log*

# Static files
static/
!frontend/dist/static/

# Environment variables
.env

# Other
.claude